#dropdown-basic::after {
    display: none !important;
  }

.ftray-button-top {
  background-color: transparent;
  color: black;
  border: none;
}

.search-bar-row {
  height: 2.5%;
  margin-bottom: 1rem;
}
